%svg-nodims {
	background-repeat: no-repeat;
}

.svg-nodims-ico-ccard-amex { 
	background-position: 0 0;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-ccard-amex-dims {
	width: 27px;
	height: 18.7px;
}

.svg-nodims-ico-ccard-back-of-card { 
	background-position: 0 -19px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-ccard-back-of-card-dims {
	width: 27px;
	height: 18.7px;
}

.svg-nodims-ico-ccard-default-front { 
	background-position: 0 -38px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-ccard-default-front-dims {
	width: 27px;
	height: 18.7px;
}

.svg-nodims-ico-ccard-discover { 
	background-position: 0 -57px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-ccard-discover-dims {
	width: 27px;
	height: 18.7px;
}

.svg-nodims-ico-ccard-mastercard { 
	background-position: 0 -76px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-ccard-mastercard-dims {
	width: 27px;
	height: 18.7px;
}

.svg-nodims-ico-ccard-visa { 
	background-position: 0 -95px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-ccard-visa-dims {
	width: 27px;
	height: 18.7px;
}

.svg-nodims-ico-portal-account { 
	background-position: 0 -114px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-account-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-account-active { 
	background-position: 0 -154px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-account-active-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-activity { 
	background-position: 0 -194px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-activity-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-activity-active { 
	background-position: 0 -234px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-activity-active-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-dashboard { 
	background-position: 0 -274px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-dashboard-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-dashboard-active { 
	background-position: 0 -314px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-dashboard-active-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-delete { 
	background-position: 0 -354px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-delete-dims {
	width: 16px;
	height: 15px;
}

.svg-nodims-ico-portal-devices { 
	background-position: 0 -369px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-devices-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-devices-active { 
	background-position: 0 -409px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-devices-active-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-feedback { 
	background-position: 0 -449px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-feedback-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-feedback-active { 
	background-position: 0 -489px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-feedback-active-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-help { 
	background-position: 0 -529px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-help-dims {
	width: 30.2px;
	height: 30.2px;
}

.svg-nodims-ico-portal-help-active { 
	background-position: 0 -560px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-help-active-dims {
	width: 30.2px;
	height: 30.2px;
}

.svg-nodims-ico-portal-help-call { 
	background-position: 0 -591px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-help-call-dims {
	width: 33px;
	height: 33px;
}

.svg-nodims-ico-portal-help-chat { 
	background-position: 0 -624px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-help-chat-dims {
	width: 32px;
	height: 30px;
}

.svg-nodims-ico-portal-help-email { 
	background-position: 0 -654px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-help-email-dims {
	width: 32px;
	height: 33px;
}

.svg-nodims-ico-portal-info { 
	background-position: 0 -687px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-info-dims {
	width: 26px;
	height: 26px;
}

.svg-nodims-ico-portal-location { 
	background-position: 0 -713px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-location-dims {
	width: 64px;
	height: 64px;
}

.svg-nodims-ico-portal-membership { 
	background-position: 0 -777px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-membership-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-membership-active { 
	background-position: 0 -817px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-membership-active-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-perks { 
	background-position: 0 -857px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-perks-dims {
	width: 32.2px;
	height: 32.3px;
}

.svg-nodims-ico-portal-perks-active { 
	background-position: 0 -890px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-perks-active-dims {
	width: 32.2px;
	height: 32.3px;
}

.svg-nodims-ico-portal-privacy { 
	background-position: 0 -923px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-privacy-dims {
	width: 48px;
	height: 42.2px;
}

.svg-nodims-ico-portal-profile { 
	background-position: 0 -966px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-profile-dims {
	width: 50.4px;
	height: 50.7px;
}

.svg-nodims-ico-portal-right-arrow { 
	background-position: 0 -1017px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-right-arrow-dims {
	width: 11px;
	height: 17px;
}

.svg-nodims-ico-portal-support { 
	background-position: 0 -1034px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-support-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-support-active { 
	background-position: 0 -1074px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-support-active-dims {
	width: 40px;
	height: 40px;
}

.svg-nodims-ico-portal-warning { 
	background-position: 0 -1114px;
	@extend %svg-nodims;
	background-image: url(icons/icons.svg);
}

.svg-nodims-ico-portal-warning-dims {
	width: 42px;
	height: 40px;
}

