<div class="icr-port-view-completed">
	<h1>Repair Completed!</h1>
	<p class="center">Hooray! We hope you found Phil's service to be fantastic, and if you need any further assistance please let us know!</p>
	<div class="icr-port-view-completed-meeting-details">
		<h4>Meeting Details</h4>
		<p><a href="" class="icr-main-link">Add to Calendar</a></p>
		<h3>Monday June 30 at 3:45pm</h3>
	</div>
	<div class="icr-port-view-completed-map">
		<img src="/public/modules/portal/app/images/photos/map-placeholder.png" />
		<div class="icr-port-view-completed-map-icon">
			<span class="media-content">
		</div>
	</div>
	<h3 class="center">351 Quay Lane Redwood City, CA 94065</h3>
	<p class="center"><a href="#" class="icr-main-link">Get Directions</a></p>
	<div class="icr-port-view-completed-top-details">
		<div class="icr-port-view-completed-personal">
			<h4>Person Details</h4>
			<p><small>Information about your request goes here</small></p>
			<table class="icr-port-basic-table">
				<tr>
					<td>Name:</td>
					<td>Phil Keys</td>
				</tr>
				<tr>
					<td>Number:</td>
					<td>650-456-6834</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>phil@icracked.com</td>
				</tr>
			</table>
		</div>

		<div class="icr-port-view-completed-device">
			<h4>Device Details</h4>
			<p><small>The device(s) you are requesting service for:</small></p>
			<table class="icr-port-basic-table">
				<tr>
					<td>Model:</td>
					<td>White iPhone 5s 32GB</td>
				</tr>
				<tr>
					<td>Issue:</td>
					<td>Broken Screen</td>
				</tr>
				<tr>
					<td>Price:</td>
					<td>$25</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="icr-port-view-completed-bottom-details">
		<div class="icr-port-view-completed-itech">
			<h4>Your Local iTechs</h4>
			<p><small>Here are your closest iTechs</small></p>
			<div class="icr-port-view-completed-itech-wrapper">
				<img src="/public/modules/portal/app/images/photos/itech-placeholder.png" />
				<table class="icr-port-basic-table">
					<tr>
						<td>iTech:</td>
						<td>iTech Phil Keys</td>
					</tr>
					<tr>
						<td>Number:</td>
						<td>650-456-6823</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>phil@itechs.com</td>
					</tr>
					<tr>
						<td>Rating:</td>
						<td>9.85/10</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="icr-port-view-completed-extra-info">
			<h4>Extra Information</h4>
			<p><small>All additional information about your request:</small></p>
			<p>Besides the screen being cracked, the top left edge of the phone is bent pretty badly.</p>
		</div>
	</div>
	<div class="icr-port-attention-info">
		<p class="icr-port-warning-item">If you have any additional questions, either call or message your iTech or you can reach your personal concierge team by calling 1-877-334-2843 or emailing us at <a href="mailto:support@icracked.com" class="icr-main-link">support@icracked.com</a></p>
	</div>
</div>