<div class="icr-port-view-requested">
	<h1>Great, Request Sent!</h1>
	<p class="center">Your nearby iTechs have been notified. Response time may vary from a few minutes to a few hours.</p>
	<div class="icr-port-attention-warning">
		<p class="icr-port-warning-item">Please make sure that the information below is correct as your local iTech will use this information to contact you about your repair.</p>
	</div>
	<div class="icr-port-view-requested-top-details">
		<div class="icr-port-view-requested-personal">
			<h4>Person Details <a href="#" class="icr-main-link">edit</a></h4>
			<p><small>Information about your request goes here</small></p>
			<table class="icr-port-basic-table">
				<tr>
					<td>Name:</td>
					<td>Phil Keys</td>
				</tr>
				<tr>
					<td>Number:</td>
					<td>650-456-6834</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>phil@icracked.com</td>
				</tr>
			</table>
		</div>

		<div class="icr-port-view-requested-device">
			<h4>Device Details <a href="#" class="icr-main-link">edit</a></h4>
			<p><small>The device(s) you are requesting service for:</small></p>
			<table class="icr-port-basic-table">
				<tr>
					<td>Model:</td>
					<td>White iPhone 5s 32GB</td>
				</tr>
				<tr>
					<td>Issue:</td>
					<td>Broken Screen</td>
				</tr>
				<tr>
					<td>Price:</td>
					<td>$25</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="icr-port-view-requested-bottom-details">
		<div class="icr-port-view-requested-itech">
			<h4>Your Local iTechs</h4>
			<p><small>Here are your closest iTechs</small></p>
			<div class="itech-image-wrapper">
				<img src="/public/modules/portal/app/images/photos/itech-placeholder.png" />
				<img src="/public/modules/portal/app/images/photos/itech-placeholder.png" />
				<img src="/public/modules/portal/app/images/photos/itech-placeholder.png" />
				<img src="/public/modules/portal/app/images/photos/itech-placeholder.png" />
			</div>
		</div>
		<div class="icr-port-view-requested-extra-info">
			<h4>Extra Information <a href="#" class="icr-main-link">add</a></h4>
			<p>All additional information about your request:</p>
			<div class="icr-extra-info">
				<p>No extra info has been added</p>
			</div>
		</div>
	</div>
</div>