<h3>User Unit</h3>
<div class="icr-dev-component">
	<div class="icr-main-user-unit">
		<p class="icr-main-link-dropdown">Phil Keys</p>
		<img src="/public/modules/portal/app/images/photos/account-image-placeholder.png" />
	</div>
</div>

<h3>Upload Area</h3>
<div class="icr-dev-component">
	<div class="icr-port-upload">
		<h4>Picture</h4>
		<div class="icr-port-upload-drop-zone">
			<p><span>Choose an image from your computer</span><br />
			JPEG, PNG, GIF - 50 MB file limit</p>
			</p>
		</div>
		<p>This will help identify you when your local iTech meet to help repair or purchase your device</p>
	</div>
</div>

<h3>Assist Information Ashlyn</h3>
<div class="icr-dev-component">
	<div class="icr-main-assist-info">
		<h5>Password Requirements</h5>
		<ul class="icr-main-list-checks">
			<li><i class="icr-valid" />One capital character</li>
			<li><i class="icr-valid" />One lowercase character</li>
			<li><i class="" />One number</li>
			<li><i class="icr-valid" />Eight characters minimum</li>
		</ul>
		<p>Strength: medium</p>
	</div>
</div>

<h3>Assist Paragraph Ashlyn</h3>
<div class="icr-dev-component">
	<div class="icr-main-assist-paragraph">
		<p>It seems your primary login, phil@icracked.com is not yet validated. Please click the button in the validation email we sent to you. If you lost or never received the validation email, we'd be happy to <a href="#" class="icr-main-link">resend it</a>.</p>
	</div>
</div>

<h3>Link Selection</h3>
<div class="icr-dev-component">
	<div class="icr-main-link-selection">
		<p>Begin <a href="#" class="icr-main-link">Repair</a> / <a href="#" class="icr-main-link-aux">Trade-In</a></p>
	</div>
</div>

<h3>Description Link</h3>
<div class="icr-dev-component">
	<div class="icr-main-action-link">
		<p>Add a <a class="icr-main-link">Plan</a></p>
	</div>
</div>

