<h3>assist info</h3>
<div class="icr-dev-component">
	<div class="icr-main-assist-info">
		<h5>Password Requirements</h5>
		<div class="icr-main-list-checks--boolean">
			<ul>
				<li class="icr-valid">One Capital Character</li>
				<li class="icr-valid">One Lowercase Character</li>
				<li>One Number</li>
				<li class="icr-valid">Eight Characters Minimum</li>
			</ul>
			<h5>Strength: medium</h5>
			<!--need to put in progress bar-->
		</div>
	</div>
</div>

<h3>form</h3>
<div class="icr-dev-component">
	<form class="icr-main-form">
		<fieldset>
			<label for="name">
				<span>Name</span>
				<input type="text" id="name">
			</label>
			<label for="email">
				<span>Email</span>
				<input type="email" id="email">
			</label>
			<label for="phone">
			<span>Phone Number</span>
			<input type="tel" id="phone">
			</label>
			<label for="zipcode">
			<span>Zip Code</span>
			<input type="text" id="zipcode">
			</label>
		</fieldset>
		<div class="icr-main-button-group">
			<button class="icr-main-button">Save</button>
			<button class="icr-main-button-aux">Cancel</button>
		</div>
	</form>
</div>

<h3>main link</h3>
<div class="icr-dev-component">
	<a href="#" class="icr-main-link">View</a>
	<a href="#" class="icr-main-link-accent">View</a>
</div>

<h3>Subsection Navigation</h3>
<div class="icr-dev-component">
	<ul class="icr-port-sub-section-nav">
		<li class="icr-active"><a href="#">Profile</a></li>
		<li><a href="#">Password</a></li>
		<li><a href="#">Billing</a></li>
		<li><a href="#">Notifications</a></li>
	</ul>
</div>

<h3>Data Attribute & Generic Spec </h3>
<div class="icr-dev-component">
<table class="icr-main-generic-spec">
	<tr>
		<th>Device Covered</th>
		<td>iPhone 4 - 32 GB in White</td>
	</tr>
	<tr>
		<th>Membership Price</th>
		<td>$7.00 per month</td>
	</tr>
	<tr>
		<th>Coverage Type</th>
		<td>Accidental Damage</td>
	</tr>
	<tr>
		<th>Membership Perks</th>
		<td><a href="#" class="icr-main-link">View Perks</a></td>
	</tr>
</table>
</div>












