<h3>Customer Portal Side Nav</h3>
<!-- <div class="icr-dev-component">
	<nav class="icr-port-nav">
	<li class="active"><i class="svg-ico-portal-dashboard"></i><span>Dashboard</span></li>
	<li><i class="svg-ico-portal-devices"></i><span>Devices</span></li>
	<li><i class="svg-ico-portal-activity"></i><span>Activity</span></li>
	<li><i class="svg-ico-portal-membership"></i><span>Advantage</span></li>
	<li><i class="svg-ico-portal-account"></i><span>Account</span></li>
	<li><i class="svg-ico-portal-support"></i><span>Help</span></li>
	<li><i class="svg-ico-portal-feedback"></i><span>Feedback</span></li>
	</nav>
</div> -->

<div class="icr-dev-component">
	<nav class="icr-port-nav">
		<ul>
			<li class="ico-port-nav-dashboard"><span class="media-content">Dashboard</span></li>
			<li class="icr-port-nav-devices"><span class="media-content">Devices</span></li>
			<li class="icr-port-nav-activity"><span class="media-content">Activity</span></li>
			<li class="icr-port-nav-membership"><span class="media-content">Advantage</span></li>
			<li class="icr-port-nav-account"><span class="media-content">Account</span></li>
			<li class="icr-port-nav-support"><span class="media-content">Help</span></li>
			<li class="icr-port-nav-feedback"><span class="media-content">Feedback</span></li>
		</ul>
	</nav>
</div>


<h3>Customer Portal Dropdown Nav - Desktop (phil)</h3>
<div class="icr-dev-component">
	<!-- component html goes here -->
	<div class="icr-port-user-account-nav">
		<div class="icr-port-user-account-credentials">
			<span>Phil Keys</span>
			<p>phil@icracked.com</p>
		</div>
		<ul>
			<li>
				<a ui-sref="dashboard">Dashboard</a>
			</li>
			<li>
				<a ui-sref="devices">Your Devices</a>
			</li>
			<li>
				<a ui-sref="activity">Your Activity</a>
			</li>
			<li>
				<a ui-sref="membership">Your Membership</a>
			</li>
			<li>
				<a ui-sref="account">Account</a>
			</li>
			<li>
				<a>Sign Out</a>
			</li>
		</ul>
	</div>
</div>

<h3>main content header &amp; table item list (phil)</h3>
<div class="icr-dev-component">
	<div class="icr-port-main-content-header">
		<h2>Billing History</h2>
		<table class="icr-port-table-item-list">
			<thead>
				<tr>
					<!--class used to make background blue-->
					<th><span>Date</span></th>
					<th><span>Invoice #</span></th>
					<th><span>Description</span></th>
					<th><span>Amount</span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>DATE</td>
					<td><span>45GI83</span></td>
					<td>(1) Protection Plan</td>
					<td>$7.00</td>
					<td> <a href="#">View</a></td>
				</tr>
				<tr>
					<td>DATE</td>
					<td><span>45GI83</span></td>
					<td>(1) Protection Plan</td>
					<td>$7.00</td>
					<td> <a href="#">View</a></td>
				</tr>
				<tr>
					<td>DATE</td>
					<td><span>45GI83</span></td>
					<td>(1) Protection Plan</td>
					<td>$7.00</td>
					<td> <a href="#">View</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
