<div class="icr-port-view-help">
	<h1>Help</h1>
	<div class="icr-port-self-support">
		<div class="icr-port-self-support-text">
			<h2>Self Support</h2>
			<p>For immediate answers to any issues or questions you have, check out our help center.</p>
		</div>
		<div class="icr-port-self-support-link">
			<a href="http://support.icracked.com/hc/en-us" target="_blank" class="icr-main-button">Find an immediate answer</a>
		</div>
	</div>
	<div class="icr-port-concierge-team">
		<div class="icr-port-concierge-team-text">
			<h2>Contact your Concierge Team</h2>
			<p>For anything that can't be resolved by our self support, please contact our support team through any of the methods to your right.</p>
		</div>
		<div class="icr-port-concierge-team-contact">
			<ul class="icr-port-contact-items">
				<li class="icr-port-contact-help-chat">
					<div class="media-content"><a class="icr-main-link" ng-click="help.openChat()">Live Chat Now</a></div>
				</li>
				<li class="icr-port-contact-help-email">
					<div class="media-content"><a href="http://support.icracked.com/hc/en-us/requests/new" target="_blank" class="icr-main-link">Send an Email</a></div>
				</li>
				<li class="icr-port-contact-help-call">
					<div class="media-content">+1-877-343-2222<br />
					United States<br />
					Mon&ndash;Fri 7am&ndash;5pm PST</div>
				</li>
			</ul>
		</div>
	</div>
</div>