<!-- ignore .icr-main-content wrapper -->
<div class="icr-main-content">

	<h1>Components</h1>

	<h3>upload</h3>

	<div class="icr-port-upload">
		<h5>Picture</h5>
		<div class="upload-drop-zone">
			<span>Choose an image from your computer</span>
			<p>JPEG, PNG, GIF - 50MB file limit</p>
		</div>
		<p>This will help identify you when your local iTechs meet to you to help repair or purchase your device</p>
	</div>

	<h3>form</h3>

	<form name="icr-main-form">
		<h2>Account Details</h2>
		<fieldset>
			<label for="name">
			<span>Name</span>
			<input type="text" id="name" class="form-text"/>
			</label>
		</fieldset>
		<fieldset>
			<label for="email">
			<span>Email</span>
			<input type="email" id="email" class="form-text"/>
			</label>
		</fieldset>
		<fieldset>
			<label for="phone">
			<span>Phone Number</span>
			<input type="tel" id="phone" class="form-text"/>
			</label>
		</fieldset>
		<fieldset>
			<label for="zipcode">
			<span>Zip Code</span>
			<input type="text" id="zipcode" class="form-text"/>
			</label>
		</fieldset>
		<div class="icr-main-button-group">
			<a href="#"><button type="button">Save</button></a>
			<a href="#"><button type="button-aux">Cancel</button></a>
		</div>
	</form>

	<h3>sub section nav</h3>

	<ul class="icr-port-sub-section-nav">
		<li><a href="#">Profile</a></li>
		<li><a href="#">Password</a></li>
		<li><a href="#">Billing</a></li>
		<li><a href="#">Notifications</a></li>
	</ul>

	<h3>main content header &amp; table item list </h3>

	<div class="icr-port-main-content-header">
		<h2>Billing History</h2>
		<table class="icr-port-table-item-list">
			<tr class="table-head">
				<!--class used to make background blue-->
				<th><a href="#">Date</a></th>
				<th><a href="#">Invoice #</a></th>
				<th><a href="#">Description</a></th>
				<th><a href="#">Amount</a></th>
				<th></th>
			</tr>
			<tr>
				<td>DATE</td>
				<td><span>45GI83</span></td>
				<td>(1) Protection Plan</td>
				<td>$7.00</td>
				<td> <a href="#">View</a></td>
			</tr>
			<tr>
				<td>DATE</td>
				<td><span>45GI83</span></td>
				<td>(1) Protection Plan</td>
				<td>$7.00</td>
				<td> <a href="#">View</a></td>
			</tr>
			<tr>
				<td>DATE</td>
				<td><span>45GI83</span></td>
				<td>(1) Protection Plan</td>
				<td>$7.00</td>
				<td> <a href="#">View</a></td>
			</tr>
		</table>
	</div>

	<h3>user account nav</h3>

	<div class="icr-port-user-account-nav">
		<div class="icr-port-user-account-credentials">
			<span>Phil Keys</span>
			<p>phil@icracked.com</p>
		</div>
		<ul>
			<a href="#">
				<li>Dashboard</li>
			</a>
			<a href="#">
				<li>Your Devices</li>
			</a>
			<a href="#">
				<li>Your Protection Plan</li>
			</a>
			<a href="#">
				<li>Account</li>
			</a>
			<a href="#">
				<li>Log Out</li>
			</a>
		</ul>
	</div>

	<h3>user unit</h3>

	<div class="icr-main-user-unit">
		<div class="icr-main-link-dropdown">
			<a href="#">
				Phil K.
				<i class=""/> <!--Use for Arrow icon-->
			</a>
		</div>
		<img src="#" alt="user photo">
	</div>

	<h3>assist-info</h3>

	<div class="icr-main-assist-info">
		<h5>Password Requirements</h5>
		<div class="icr-main-list-checks">
			<ul>
				<li><i class="icr-valid"/>One Capital Character</li>
				<li><i class="icr-valid"/>One Lowercase Character</li>
				<li><i class="icr-not-valid"/>One Number</li>
				<li><i class="icr-valid"/>Eight Characters Minimum</li>
			</ul>
		</div>
	</div>

	<h3>link</h3>

	<a href="#" class="icr-main-link">example</a>
	<h3>link accent</h3>
	<a href="#" class="icr-main-link-accent">example</a>
	<h3> Assist-Paragraph </h3>
	<div class="icr-main-assist-paragraph">
		It seems your primary login, <span>phil@icracked</span> is not yet validated. Please click the button in the validation email we sent to you. If you lost or never received the validation email we'd be happy to <a href="#">resend it</a>.
	</div>

	<h3>Link Selection</h3>

	<h5>Begin <a href="#" class="icr-main-link">Repair</a> / <a href="#" class="icr-main-link-accent">Trade-In</a></h5>
	<h3>Data Attribute & Generic Spec </h3>
	<table class="icr-main-data-attribute">
		<div class="icr-main-generic-spec">
			<tr>
				<th>Device Covered</th>
				<td>iPhone 4 - 32 GB in White</td>
			</tr>
			<tr>
				<th>Membership Price</th>
				<td>$7.00 per month</td>
			</tr>
			<tr>
				<th>Coverage Type</th>
				<td>Accidental Damage</td>
			</tr>
			<tr>
				<th>Membership Perks</th>
				<td><a href="#" class="icr-main-link">View Perks</a></td>
			</tr>
		</div>
	</table>
	<h3>Nav</h3>
	<nav>
		<ul>
			<a href="#">
				<li class="nav-item"><i class="#"/>DASHBOARD</li>
			</a>
			<a href="#">
				<li class="nav-item"><i class="#"/>DEVICES</li>
			</a>
			<a href="#">
				<li class="nav-item"><i class="#"/>ACTIVITY</li>
			</a>
			<a href="#">
				<li class="nav-item"><i class="#"/>PLANS</li>
			</a>
			<a href="#">
				<li class="nav-item"><i class="#"/>ACCOUNT</li>
			</a>
			<a href="#">
				<li class="nav-item"><i class="#"/>HELP</li>
			</a>
			<a href="#">
				<li class="nav-item"><i class="#"/>FEEDBACK</li>
			</a>
			<a href="#">
				<li class="nav-expand"><i class="#"/></li>
			</a>
		</ul>
	</nav>
</div>