<h3>Account Details</h3>


<div class="icr-port-view-password">

	<form class="icr-main-form" name="updatePasswordForm" ng-submit="password.update(pass)">

		<!-- Current: {{updatePasswordForm.currentPassword}}<br />
		New: {{updatePasswordForm.newPassword}}<br />
		Confirm: {{updatePasswordForm.confirmPassword}}<br /> -->

		<fieldset>
			<label for="current-password"><span>Verify Current Password</span>
				<input type="password" name="currentPassword" ng-model="password.password" required>
			</label>

			<div icr-validate-message="updatePasswordForm.currentPassword"></div>

			<label for="current-password"><span>New Password</span>
				<input type="password" name="newPassword" ng-model="password.newPassword" minlength="6" mismatch="password.password" required>
			</label>

			<div icr-validate-message="updatePasswordForm.newPassword">
				<div ng-message="match">Your new password cannot be the same as your old password</div>
			</div>

			<label for="current-password"><span>Confirm Password</span>
				<input type="password" name="confirmPassword" ng-model="password.confirmPassword" match="password.newPassword" required>
			</label>

			<div icr-validate-message="updatePasswordForm.confirmPassword"></div>

		</fieldset>
		
		<input class="icr-main-button" type="submit" ng-disabled="updatePasswordForm.$invalid || updatePasswordForm.$submitted" value="Save">
		
	</form>
</div>

