<div class="icr-port-view-contract">
	<h3>Service Contract Purchase Receipt</h3>
	<p>Administrator: TechExpress, LLC<br />
	350 Marine Parkway<br />
	Redwood City, CA 94065<br />
	Telephone: 1 - [877-700-0349]</p>

	<p><em>Be sure to keep this Service Contract Purchase Receipt with your Service Contract terms &amp; conditions, as You will need them to verify coverage at the time of service</em></p>

	<p>PLEASE CAREFULLY REVIEW THAT ALL OF THE INFORMATION CONTAINED ON THIS SERVICE CONTRACT PURCHASE RECEIPT IS ACCURATE AND COMPLETE. IF ANYTHING APPEARS INACCURATE OR INCOMPLETE, PLEASE IMMEDIATELY CONTACT THE ADMINISTRATION FOR ASSISTANCE.</p>
	
	<hr />

	<table class="icr-contract-table">
		<tr>
			<th>PLAN PURCHASE DATE</th>
			<th>CONTRACT NUMBER</th>
		</tr>
		<tr>
			<td>[MM/DD/YYYY]</td>
			<td>[ABC1234567890]</td>
		</tr>
	</table>

	<hr />

	<table class="icr-contract-table">
		<tr>
			<th>PLAN PURCHASE DATE </th>
			<td>[$$$$.$$]</td>
			<th>PLAN PURCHASE DATE</th>
			<td>[ABC1234567890]</td>
		</tr>
		<tr>
			<th>PLAN PURCHASE DATE</th>
			<td>[$$$$.$$]</td>
			<th>PLAN PURCHASE DATE</th>
			<td>[ABC1234567890]</td>
		</tr>
	</table>
</div>