<div class="icr-port-view-terms">
	<h3>Service Contract Terms &amp; Conditions</h3>
	<p>Administrator: TechExpress, LLC<br />
	350 Marine Parkway<br />
	Redwood City, CA 94065<br />
	Telephone: 1 - [877-700-0349]</p>

	<h3>FOR FAST CLAIM SERVICE, VISIT</h3>
	<p><a href="https://www.icracked.com/" target="_blank" class="icr-main-link">[www.icracked.com]</a></p>
	<p>CONGRATULATIONS: Thank you for your recent purchase of the [iCracked Protection Plan] (the "Service Contract", "Contract"). We hope you enjoy the added comfort and protection this Service Contract provides. Please keep this Service Contract document and Your Contract Purchase Receipt as You will need them to verify Your Coverage at the time of service. This information will serve as a valuable reference guide and will help You determine what is covered by this Service Contract. From the day you purchase this Service Contract the Administrator will assist You in understanding You Service Contract benefits.</p>

	<h3>DEFINITIONS</h3>

	<p>Throughout this Service Contract, the following capitalized words have the stated meaning – “We”, “Us”, “Our”: the party or parties obligated to provide service under this Service Contract as the service contract provider, Northcoast Warranty Service, Inc., 800 Superior Avenue E,m 21 Floor, Cleveland, OH 44114; unless specified otherwise in the State Addendums.</p>
</div>